.gradient-text {
  background: linear-gradient(
    50deg,
    #8b5cf6,
    /* Purple */ #ec4899,
    /* Pink */ #ef4444,
    /* Red */ #f97316,
    /* Orange */ #facc15,
    /* Yellow */ #4ade80,
    /* Light Green */ #22d3ee,
    /* Cyan */ #3b82f6,
    /* Blue */ #6366f1,
    /* Indigo */ #a855f7 /* Violet */
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
